.App {
  width: 100%;
  height: 100vh;
}
.App h1 {
  text-align: center;
  padding: 50px 20px;
}
.App .cont {
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}
.content {
  width: 80vw;
  display: flex;
  justify-content: space-between;
}
.amount {
  width: 40vw;
  display: inline;
  display: flex;
  justify-content: center;
  align-items: center;
}
.amount input {
  width: 30vw;
  padding: 10px 10px;
}
.selecters {
  display: flex;
  flex-direction: column;
  width: 40vw;
}
.selecters select {
  padding: 10px 10px;
}
@media screen and (max-width: 770px) {
  .content {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .amount {
    width: 60vw;
  }
  .amount input {
    width: 60vw;
  }
  .selecters {
    width: 60vw;
  }
}
